nav-item {
    position: relative;
}

#offcanvasNavbar {
 
    background-color: aliceblue;

}

offcanvas {
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(48, 48, 48);
    margin: 20px;
}

#toggle {
    margin: 50px;
    justify-content: center;
}

navbar-nav {
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

neo-button {
    margin: 10px;
    padding: 10px;
}

#but {
    padding: 10px;
    margin: 10px;
}

h1 {
    letter-spacing: 5rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 30px;
    margin: 20px;
    color: #11191e;
    text-decoration: none;
    list-style: none;
}

#brand {
    text-decoration: none;
}

#link {
    text-decoration: none;
}