nav-item {
    position: relative;
}

Navbar {
   
    background-color: aliceblue;
}

offcanvas-body {
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(48, 48, 48);
}


navbar-nav {
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

neo-button {
    margin: 10px;
    padding: 10px;
}

#but {
    padding: 10px;
    margin: 10px;
}