@import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #e9eaeb
}

.social-buttons {
    margin-top: 10px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.social-buttons button {
    margin: 10px
}

.neo-button {
    position: center;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    letter-spacing: 2px;
    color: #5a84a2;
    font-size: 11px;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    background: linear-gradient(145deg, #ecedef, #f3f6f6);
    box-shadow: 3px 6px 10px hsl(0, 19%, 89%), -3px -6px 10px #fcf8f8
}


.neo-button:hover {
    color: #3a4d5c;
    background: linear-gradient(145deg, #dee4e4, #fefeff);
    box-shadow: 3px 6px 13px #ffffff, -6px -6px 10px #f5f2f2
}

.neo-button .fa {
    flex-wrap: wrap;
    justify-content: center;
    color: #5a84a2;
}

.neo-button .fa:hover {
    flex-wrap: wrap;
    justify-content: center;
    color: #3a4d5c;

}

h3 {
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 11px;

}