html, body, #app, #app>div {
  height: 100%
}

#root {
  box-sizing: border-box;
    margin: auto;
    padding: 0;
}

[role=navigation] {
  overflow: auto !important
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
